img {
    max-width: 350px;
    height: 400px;
  }
  .favourite {
    border: none;
    background-color: none;
    cursor: pointer;
    background-color: white;
  }
  .favourite svg {
    fill: #ccc;
    width: 25px;
    height: 20px;
    margin-right: auto;
    border: none;
  }
  
  .favourite.active svg {
    fill: red;
    border: none;
    width: 25px;
    height: 20px;
  }